[Unit]
Description=Smolevich AI Bot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/smolevich-ai-bot
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/etc/socks-monitor/smolevich-ai-bot.env
EnvironmentFile=-/opt/smolevich-ai-bot/.env

[Install]
WantedBy=multi-user.target
